@charset "UTF-8";

video#filme01 {
	width: 500px;
}

video#filme02 {
	width: 350px;
}

div#tv-radio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url('../_imagens/radio-tv.png');
}

audio#musica {
	display: block;
	position: relative;
	left: 575px;
	top: 490px;
	width: 300px;
}

video#filme {
	display: block;
	position: relative;
	left: 88px;
	top: -30px;
	width: 438px;
	height: 380px;
}